@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    src:
      local('Gilroy Regular'),
      local('Gilroy-Regular'),
      url(./fonts/Gilroy-Light.otf) format('opentype'),
      url(./fonts/Gilroy-Light.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src:
      local('Gilroy ExtraBold'),
      local('Gilroy-ExtraBold'),
      url(./fonts/Gilroy-ExtraBold.otf) format('opentype'),
      url(./fonts/Gilroy-ExtraBold.otf) format('opentype');
  }
  
  html {
    font-family: 'Gilroy', sans-serif;
  }

* {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

span, p, h6, h5, h4, h3, h2, h1 {
    font-family: Gilroy, sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.header-wrapper > a {
    text-decoration: none;
    font-family: sans-serif;
    color: #212121;
    font-weight: 900;
    font-style: italic;
    font-size: 18pt;
}

.avatar-wrapper {
    height: 48px;
    width: 48px;
    /* background-image: url(https://source.unsplash.com/1600x900/?person,people,face,portrait); */
    background-size: cover;
    background-position: center;
    margin-right: 16px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.avatar-wrapper img {
    height: 100%;
}

.feed-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    padding: 0 50px;
}

.card-media > img {
    width: 100%;
    overflow: hidden;
}

.card-info-top {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 8px;
}

.card-info-top .avatar-wrapper {
    height: 36px;
    width: 36px;
}

.card-info-top > h6 {
    margin-left: auto;
}

.card-info-wrapper > p {
    margin-left: 16px;
    margin-right: 16px;
}

/* .user-info-wrapper {
    display: flex;
    align-items: center;
} */







.create-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: -240px;
    width: 400px;
    height: 400px;
    left: 50%;
    margin-left: -200px;
    border-radius: 400px;
    background: rgb(251,236,0);
    background: linear-gradient(90deg, rgba(251,236,0,1) 0%, rgba(51,217,239,1) 100%);
    box-shadow: 0px -32px 64px rgba(251, 234, 0, 0.5);
    color: #ffffff;
    border: 16px solid #fff;
}

.create-button img {
    max-height: 20%;
    margin-top: 64px;
}