.create-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.media-preview {
    margin-bottom: 16px;
    transition: 300ms ease-in-out;
}

.media-img {
    max-width: 100%;
}

.create-header-wrapper {
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    justify-content: space-around;
    margin-bottom: 32px;
    background-color: #FBEC00;
}

.filler {
    opacity: 0;
}

.create-cancel-icon {
    height: 24px;
}

.create-button-brand {
    width: 50%;
    background-color: #FBEC00;
    color: #212121;
    border: 2px solid #33D9EF;
    height: 48px;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 24px;
    padding-top: 6px;
    margin-top: 24px;
    box-shadow: 0px 16px 20px -8px rgba(251, 234, 0, 0.445);
    transition: 200ms ease-in-out;
}

.create-button-brand:hover {
    cursor: pointer;
    transform: scale(.98);
    box-shadow: 0px 18px 24px -16px rgba(51, 217, 239, 0.479);
    transition: 200ms ease-in-out;
}

.create-button-brand:focus {
    outline: none;
}


/*******************    BRAND CONTENT   ***********************/

.brand-content-form-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-content-form-wrapper h3 {
    margin-bottom: 32px;
    font-size: 24pt;
}

.brand-content-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms ease-in-out;
}

.brand-content-form input {
    width: 30vw;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 18px 16px 10px;
    padding-top: 10px;
    box-shadow: 0px 8px 16px #21212125;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.brand-content-form input:hover {
    border: 1px solid #999999;
    box-shadow: 0px 12px 8px -8px #21212125;
}

.brand-content-form input:focus {
    border: 1px solid #FBEC00;
    box-shadow: 0px 12px 8px -8px rgba(251, 234, 0, 0.404);
    outline: none;
}

.brand-content-form textarea {
    width: 30vw;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 16px 16px 14px;
    padding-top: 10px;
    box-shadow: 0px 8px 16px #21212125;
    box-sizing: border-box;
    margin-bottom: 32px;
    font-family: Gilroy, sans-serif;
}

.brand-content-form textarea:hover {
    border: 1px solid #999999;
    box-shadow: 0px 12px 8px -8px #21212125;
}

.brand-content-form textarea:focus {
    border: 1px solid #FBEC00;
    box-shadow: 0px 12px 8px -8px rgba(251, 234, 0, 0.404);
    outline: none;
}


