.card-wrapper {
    display: flex;
    flex-direction: column;
}

.card-media-wrapper > img {
    width: 100%;
}

.card-top-wrapper {
    display: flex;
    align-items: center;
    background-color: cornsilk;
}

.event-info {
    display: flex;
    flex-direction: column;
}

.event-info > h3 {
    margin-bottom: 4px;
}

.card-top-wrapper > h1 {
    padding: 16px 24px;
    margin-right: 16px;
    background-color: aquamarine
}

.post-info-wrapper {
    display: flex;
    align-items: center;
    background-color: cornsilk;
    padding-left: 24px;
}

.post-info-wrapper h5 {
    margin-left: auto;
    margin-right: 24px;
    font-weight: Regular;
    color: #212121a1;
}

.avatar-card {
    margin-top: -48px;
}



/*****************      ATHLETE HEADER      *********************/

.athlete-card-header {
    display: flex;
    align-items: flex-end;
}

.athlete-event-finish {
    padding: 16px 24px;
    background-color: #FBEC00;
}

.athlete-event-info {
    padding: 16px 24px;
    background-color: #33D9EF;
    width: 100%;
}