.profile-wrapper {
    display: grid;
    grid-template-areas: 
    "h h h h"
    "u f f f";
}

.profile-wrapper > .header-wrapper {
    grid-area: h;
}

.profile-wrapper > .profile-user-info {
    grid-area: u;
}

.profile-wrapper > .profile-feed-wrapper {
    grid-area: f;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* align-items: center; */
}

.user-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    /* align-items: center;  */
    /* padding: 50px; */
}

.user-info-flex {
    display: flex;
    align-items: center;
}

.user-info-wrapper > p {
    /* text-align: center; */
    margin: 16px 0
}

.user-names-wrapper {
    display: flex;
    flex-direction: column;
}

.follows-bar-wrapper {
    display: flex;
    /* width: 500px; */
    justify-content: space-around;
    margin-bottom: 32px;
}

.sponsors-bar-wrapper {
    display: flex;
    flex-direction: column;
}

.sponsors-bar-wrapper > h3 {
    /* text-align: center; */
    margin-bottom: 16px;
}

.sponsors-carousel {
    display: flex;
}