.profile-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.profile-user-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}

.user-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    /* align-items: center;  */
    /* padding: 50px; */
}

.profile-buttons-wrapper {
    display: flex;
}









/**********************     STUFF FOR SPONSPORS AND FOLLOWS ******************/

/* .user-names-wrapper {
    display: flex;
    flex-direction: column;
}

.follows-bar-wrapper {
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin-bottom: 32px;
}

.sponsors-bar-wrapper {
    display: flex;
    flex-direction: column;
}

.sponsors-bar-wrapper > h3 {
    text-align: center;
    margin-bottom: 16px;
}

.sponsors-carousel {
    display: flex;
} */